* {
  margin: 0;
}
html {
  background-color: rgb(225, 221, 221);
}

a{
text-decoration: none;
color: black;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  align-items: center;
}
.profile-icon{
  left:-3px;
  
  position:relative;
  display: flex;
}
.profile-icon>section{
margin-left: 3px;
}

.nav-div {
  position: fixed;
  left: 0;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  width: 100%;
  min-height: 50px;
  background-color: white;
  justify-content: space-around;
  box-shadow: 2px 2px 2px 2px grey;
}
.logout-div{
  cursor: pointer;
display: flex;
align-items: center;
}
.search-user-main-div {
  position: absolute;
  width: 100%;
  top: 3%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  grid-column: 1/2;
  grid-row: 4/11;
  border-radius: 10px;
  z-index: 100;
}
.search-user-div {
  color: grey;
  box-shadow: -1px 7px 11px 3px grey;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow: auto;
  border-radius: 5px;
}
.selected-user-list-div {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
}
.nav-div > input {
  margin-left: 10px;
  grid-column: 1/2;
  grid-row: 4/7;
  border-radius: 10px;
}
.nav-div-div {
  position: relative;
  display: flex;
  grid-column: 1/-1;
  grid-row: 4/7;
  justify-content: space-around;
}

.friend-request-div {
  position: absolute;
 margin-left: -3vw;
  width: 100px;
  color: grey;
  box-shadow: -1px 7px 11px 3px grey;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow: auto;
  border-radius: 5px;
}
.friend-request {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
}
.sidebar-div {
  position: fixed;
  top: 13vh;
  left: 1vw;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.image-modal-div{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1%;
  margin-top: 100px;
  box-shadow:0px 0px 6px 5px grey;
  border-radius:10px;
width: 100%;
background-color: white;

width: 30vw;
height:30vh;
z-index: 1000;
}
.image-modal-div>div{
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
}
.image-modal-div>div>input{

  width: 80%;

  }
.image-modal-div>p{
  cursor:pointer;
text-align: center;
  width: 100%;
  }

/* login */
.login-div {
  margin-top: 5px;
  grid-column: 5/8;
  grid-row: 3/7;
}
.login-form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.login-form > label {
  font-size: 20px;
  font-weight: 800;
}
.login-form > input {
  margin-bottom: 5px;
  height: 30px;
}
.login-form > button {
  margin-bottom: 5px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(6, 81, 255);
  border: none;
}

.sidebar-div2 {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.my-feed-div {
  border-radius: 10px;
  margin-top: 50px;
  width: 80vh;
  grid-column: 4/8;
  /* background-color: white; */
  grid-row: 2/-1;
}
.update-status-div {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
 
}
.update-status-input {
  border:none;
  background-color: rgba(84, 81, 81, 0.092);
  border-radius: 10px;
margin: 5px;
padding: 5px;
  width: 100%;
}
.image-video-div{
  display: flex;
  width: 60%;
  justify-content: space-evenly;  
}
.image-video-div>section{
cursor: pointer;
}
.update-status-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.update-status-form>div {
  width: 100%;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
}
.update-status-form>div>section {
  cursor: pointer;
  color: rgb(158, 155, 155);
margin-left: 20px;
padding: 5px;
}

.comment-div{
  width: 100%;
display: flex;
align-items: center;

}
.comment-div> div{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 1px;
  border-radius: 10px;
  background-color: rgba(84, 81, 81, 0.092);
margin-top: 10px;
}
.comment-div2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 1px;
  border-radius: 10px;
  background-color: rgba(84, 81, 81, 0.092);
margin-top: 10px;
}
.comment-div2>h4 {
  margin-left: 10px;
}
.comment-div2>span {
  margin-left: 10px;
}

.comment-div{
  width: 100%;
display: flex;
align-items: center;

}
.comment-divv> div{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 1px;
  border-radius: 10px;
  background-color: rgba(84, 81, 81, 0.092);
margin-top: 10px;
}
.reply-divv{
  margin-left: 5vw;
  display: flex;
  align-items: center;
}
.reply-divv2{
  display: flex;
  font-size: smaller;
  width: 100%;
  flex-direction: column;
  margin-left:20px;
  padding: 1px;
  border-radius: 10px;
  background-color: rgba(84, 81, 81, 0.092);
margin-top: 10px;
}
.reply-divv2>h4 {
  margin-left: 10px;
}
.reply-divv2>span {
  margin-left: 10px;
}










.reply-div> section{
 font-size: 60%;
 font-weight: bold;
  margin-left: 45px;
  padding: 1px;

margin-top: 1px;
}
.reply-input-div{
  font-size: 60%;
  font-weight: bold;
   margin-left: 45px;
   padding: 1px;
 margin-bottom: 1vh;
 margin-top: 1px;
 }

.myfeed-posted-div {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(10, 10%);
background-color: white;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 2px 0px 11px 0px #efefeffa; */
  box-shadow: -1px 0px 3px 1px #c3bebefa;
  min-height: 150px;
  margin-bottom: 10px;
  
}
.myfeed-postproperty-div {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 20px);
  width: 100%;
}

.myfeed-postproperty-div > section {
  grid-row: 1/3;
  grid-column: 10/11;
  font-size: 30px;
  font-weight: bold;
}
.myfeed-postproperty-div > h1 {
  margin-top:10px;
  grid-row: 2/7;
  grid-column: 1/11;
  font-size: medium;
overflow: auto;
}


.post-options-div{
  padding: 5px;
  border-top:solid rgba(0, 0, 0, 0.196) 1px;
  border-bottom:solid  rgba(0, 0, 0, 0.196) 1px;
  color:rgba(82, 82, 82, 0.514);
  display: flex;
  grid-row: 8/9;
  grid-column: 1/11;
  justify-content: space-around;
  align-items: center;
 
}

.reply-model-form{  
  grid-row: 10/12;
  grid-column: 2/11;
  border-radius: 10px;
  height: 20px;
  margin-right: 10px;
}

.reply-model-form > input{
border: none;
width:100%;
background-color: rgba(84, 81, 81, 0.092);
border-radius: 10px;
height: 20px;
margin-top: 5px;

}

.myfeed-post-edit-del-div {

  display: flex;
  padding: 5px;
  border-radius: 10px;
box-shadow: 0px 0px 7px 2px rgb(145, 145, 145);
  flex-direction: column;
    align-items: flex-start;
  grid-row: 3/6;
  grid-column: 7/10;
  background-color: white;
}

.myfeed-input {
  grid-row: 3/9;
  grid-column: 1/10;
}
.edited-myfeed-input {
  width: 100%;
  height: 100%;
}
/* .my-feed-post-id{
  
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.myfeed-post-edit-div{
   
    grid-column: 1/-1;
    grid-row: 1/2;
    
} */
